body {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  border-top: 2px solid #1b9af7;
  margin: 0;
}
.hello-world {
  padding-top: 0px;
  font-size: 52px;
  padding-bottom: 0px;
}
.about-me {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  margin-top: 0px;
  padding-top: 0px;
  color: #666;
}
a {
  color:#1b9af7;
  text-decoration: none;
}
a:hover {
  color:#1b9af7;
  text-decoration: underline;
}
.social-profile {
  margin: 30px 0;
  line-height: 10px;
}
.email-wrapper {
  margin-top: 30px;
  padding-bottom: 30px;
}
.btn {
  background: #1b9af7;
  color: white;
  padding: 13px 30px;
  font-weight: 500;
  text-shadow: none;
  border-radius: 2px;
  border: 3px solid #1b9af7;
  font-size: 16px;
}
.btn:hover {
  background:transparent;
  color:#1b9af7;
  text-decoration: none;
}

.responsive {
  width: 12%;
  height: auto;
}

h3 {
  margin-top: 0px;  
  padding-top: 0px;
  padding-bottom: 0px;
}
